<!Doctype HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel = "stylesheet" href = "/css/bootstrap.css">
<link rel = "stylesheet" href = "/css/w3css.css">
<link rel = "stylesheet" href = "/css/app.css">
<title>Add Your Notes</title>
</head>
<body>
    <header class = 'text-center'>Add New Notes Here</header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Notes Application</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/add">Adding Notes</a></li>
                <li><a href="/view">Viewing Notes</a></li>
                <li><a href="/view">Updating Notes</a></li>
                <li class="active"><a href="/view">Deleting Notes</a></li>
            </ul>
             <ul class="nav navbar-nav navbar-right">
                 <li style = 'margin-right: 40px;'><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>    
    <h2 class = 'text-center color_navy'>The Note has been Deleted now. Choose from the navigation bar what to do next</h2>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>